
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../views/partial_desafios/head'); %>
  <title>Página</title>
</head>
<body>
  <h1 class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl text-center">Desafio em EJS</h1>
  <main class="my-8">
    <%- include('../views/partial_desafios/_listaDecompras'); %>
  </main>
  
  </body>
</html>